name: Test

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read  # Required while the repo is private

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
          token: ${{ secrets.GITHUB_TOKEN }}  # Required while the repo is private

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version-file: go.mod

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20  # v9.2.0
        with:
          install-only: true

      - name: Run lint
        run: make lint

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
          token: ${{ secrets.GITHUB_TOKEN }}  # Required while the repo is private

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version-file: go.mod

      - name: Run tests
        run: make test

  system-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
          token: ${{ secrets.GITHUB_TOKEN }}  # Required while the repo is private

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5  # v6.2.0
        with:
          go-version-file: go.mod

      - name: Build binary
        run: make build

      - name: Create Kind cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab  # v1.13.0

      - name: Run system tests
        working-directory: tests/system
        run: ./run-system-test.sh
        env:
          CREATE_CLUSTER: false
          DELETE_CLUSTER: false
